<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>A Millió Lépés verseny jelenlegi állása</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div class="w3-display-container w3-animate-opacity w3-responsive">
		<div class="w3-display-topright w3-padding-large w3-xlarge">
			<form action="/" method="get">
				<input name="year" type="number" min=1 class="w3-input w3-animate-input" placeholder="Kereső" style="width:250px">
				<button type="submit" class="w3-button w3-black">Keresés</button>
			</form>
		</div>
		<div class="w3-responsive">
			<h1 class="w3-xxxlarge w3-animate-top">Millió lépés az iskoládért verseny</h1>
			<hr class="w3-border-grey" style="margin:auto;width:40%"> <br />
			<p>Résztvevők száma országosan: <th:block th:text="${#numbers.formatDecimal(allParticipant, 1, 'DEFAULT', 0,'DEFAULT')}" /> fő</p>		 
			<p>Eddig megtett összes <i>teljesített</i> kékkör száma: <th:block th:text="${allOKK}"></p>
			<p>Az iskolák eddig <th:block th:text="${#numbers.formatDecimal(allDistanceInOkk, 1, 'DEFAULT', 0, 'DEFAULT')}" /> kékkörnél is több utat tettek meg,
			   ami megközelítőleg <th:block th:text="${#numbers.formatDecimal(allDistanceInKm, 1, 'DEFAULT', 0, 'DEFAULT')}" /> 
			   km távolság, azaz nagyjából <th:block th:text="${#numbers.formatDecimal(allDistanceInSteps, 1, 'DEFAULT', 0, 'DEFAULT')}" /> lépés. </p>
			<p>Adatok frissítésének dátuma: <th:block th:text="${refreshDate}" />, 
			   a játék vége 2023. június 11., hátralévő napok száma: <th:block th:text="${remainingDays}"/> </p>
			<table class="w3-table-all w3-small w3-hoverable">
				<tr>
					<th>Helyezés</th>
					<th>Név</th>
					<th>Helység</th>
					<th>Vármegye</th>
					<th>Kékkörök száma</th>
					<th>Résztvevők száma</th>
					<th>Nyerési esély (min 1 nyereményre)</th>
					<th>Nyeremények várható értéke</th>
					<th>Lemaradás az 1. helyezettől</th>
					<th>Lemaradás behozható (napi lépés fejenként)</th>
				</tr>
				<tr th:each="school: ${schools}">
					<td th:text="${school.position}"></td>
					<td th:text="${school.name}"></td>
					<td th:text="${school.city}"></td>
					<td th:text="${school.county}"></td>
					<td th:text="${#numbers.formatDecimal(school.okkNumber, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
					<td th:text="${#numbers.formatDecimal(school.participants, 1, 'DEFAULT', 0, 'DEFAULT')}"></td>
					<td><th:block th:text="${#numbers.formatDecimal(school.winProbability, 1, 'DEFAULT', 2, 'DEFAULT')}" />%</td>
					<td><th:block th:text="${#numbers.formatDecimal(school.prizeExpectedValue, 1, 'DEFAULT', 0, 'DEFAULT')}" /> Ft</td>
					<td><th:block th:text="${#numbers.formatDecimal(school.distanceFromBestSteps, 1, 'DEFAULT', 0, 'DEFAULT')}" /> lépés</td>
					<td th:switch="${school.dailyStepsNeedToBest}">
						<th:block th:case="9223372036854775807" th:text="Végtelen" />
						<th:block th:case="*" th:text="${#numbers.formatDecimal(school.dailyStepsNeedToBest, 1, 'DEFAULT', 0, 'DEFAULT')}" /> 
						lépés / fő
				   </td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>