<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>A Millió Lépés verseny jelenlegi állása</title>
    <!-- meta name="viewport" content="width=device-width, initial-scale=1" -->
    <!-- link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" -->
    <!-- link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway" -->
    <!-- link rel="stylesheet" href="style.css" -->
</head>
<body>
    <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
        <div class="w3-display-topleft w3-padding-large w3-xlarge">
            <div class="w3-bar">
              <a title='Előző év'>
                  <button class="w3-button w3-black"></button> <br />
              </a>
            </div>
        </div>
        <div class="w3-display-topright w3-padding-large w3-xlarge">
            <form action="/" method="get">
                <input name="year" type="number" min=1 class="w3-input w3-animate-input" placeholder="Kereső" style="width:250px">
                <button type="submit" class="w3-button w3-black">Keresés</button>
            </form>
        </div>
        <div class="w3-display-middle">
            <h1 class="w3-xxxlarge w3-animate-top">Millió lépés az iskoládért verseny</h1>
            <hr class="w3-border-grey" style="margin:auto;width:40%"> <br />
            <p>Résztvevők száma országosan: <span th:text="${allParticipant}"></span> </p>         
            <p>Eddig megtett összes kékkör száma: <span th:text="${allOKK}"></span></p>
            <table>
				<tr>
					<th>Helyezés</th>
					<th>Név</th>
					<th>Helység</th>
					<th>Vármegye</th>
					<th>Kékkörök száma</th>
					<th>Résztvevők száma</th>
				</tr>
				<tr th:each="school: ${schools}">
					<td th:text="${school.position}"></td>
					<td th:text="${school.name}"></td>
					<td th:text="${school.city}"></td>
					<td th:text="${school.county}"></td>
					<td th:text="${school.okkNumber}"></td>
					<td th:text="${school.participants}"></td>
				</tr>
			</table>
        </div>
    </div>
</body>
</html>